<div class="container" style="max-width: 400px;">
  <h1 class="text-center">Register</h1>
  <form action="/users/register" method="POST">
  <div class="mb-3">
      <label for="name" class="form-label">name</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" name="email" class="form-control" id="email" placeholder="Enter Email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>
    </div>
    <div class="mb-3">
      <label for="confirmedPassword" class="form-label">Confirmed Password</label>
      <input type="password" name="confirmedPassword" class="form-control" id="confirmedPassword" placeholder="Enter Password Again" required>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary" style="width: 100%">Register</button>
    </div>
    <p>
      Have an account? <a href="/users/Login">Login</a>
    </p>
  </form>
</div>